RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule "^/?heartbeat$" "heartbeat.php" [PT]
RewriteRule "^/?breaker/([^/]+)" "breaker.php?id=$1" [PT]
RewriteRule "^/?breaker$" "breaker.php" [PT]
RewriteRule "^/?buttonColor/([^/]+)" "buttonColor.php?id=$1" [PT]
RewriteRule "^/?buttonColor$" "buttonColor.php" [PT]
RewriteRule "^/?brightnessName/([^/]+)" "brightnessName.php?id=$1" [PT]
RewriteRule "^/?brightnessName$" "brightnessName.php" [PT]
RewriteRule "^/?controller/([^/]+)$" "controller.php?id=$1" [PT]
RewriteRule "^/?controller/devicename/([^/]+)$" "controller.php?devicename=$1" [PT]
RewriteRule "^/?controller$" "controller.php" [PT]
RewriteRule "^/?pins/available/([^/]+)" "pinsAvailable.php?controllerId=$1" [PT]
RewriteRule "^/?pins/assigned/([^/]+)" "pinsAssigned.php?controllerId=$1" [PT]
RewriteRule "^/?ports/available/([^/]+)" "portsAvailable.php?controllerId=$1" [PT]
RewriteRule "^/?ports/assigned/([^/]+)" "portsAssigned.php?controllerId=$1" [PT]