# Always set these headers.
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PATCH"
#Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "Content-Type, x-api-key"
 
# Added a rewrite to respond with a 200 SUCCESS on every OPTIONS request.
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

RewriteRule "^/?action$" "action.php" [PT]
RewriteRule "^/?action/([^/]+)$" "action.php?id=$1" [PT]
RewriteRule "^/?breaker$" "breaker.php" [PT]
RewriteRule "^/?breaker/([^/]+)$" "breaker.php?id=$1" [PT]
RewriteRule "^/?brightnessName$" "brightnessName.php" [PT]
RewriteRule "^/?brightnessName/([^/]+)$" "brightnessName.php?id=$1" [PT]
RewriteRule "^/?buttonColor$" "buttonColor.php" [PT]
RewriteRule "^/?buttonColor/([^/]+)$" "buttonColor.php?id=$1" [PT]
RewriteRule "^/?controller$" "controller.php" [PT]
RewriteRule "^/?controller/([^/]+)$" "controller.php?id=$1" [PT]
RewriteRule "^/?controller/([^/]+)/bootstrap$" "controllerBootstrap.php?devicename=$1" [PT]
RewriteRule "^/?controller/([^/]+)/bootstrap/inputs/([^/]+)$" "controllerBootstrapInputs.php?devicename=$1&id=$2" [PT]
RewriteRule "^/?controller/([^/]+)/bootstrap/outputs/([^/]+)$" "controllerBootstrapOutputs.php?devicename=$1&id=$2" [PT]
RewriteRule "^/?controller/([^/]+)/pins/assigned$" "pinsAssigned.php?controllerId=$1" [PT]
RewriteRule "^/?controller/([^/]+)/pins/available$" "pinsAvailable.php?controllerId=$1" [PT]
RewriteRule "^/?controller/([^/]+)/ports/assigned$" "portsAssigned.php?controllerId=$1" [PT]
RewriteRule "^/?controller/([^/]+)/ports/available$" "portsAvailable.php?controllerId=$1" [PT]
RewriteRule "^/?firmware$" "firmware.php" [PT]
RewriteRule "^/?firmware/([^/]+)$" "firmware.php?id=$1" [PT]
RewriteRule "^/?heartbeat$" "heartbeat.php" [PT]
RewriteRule "^/?setting$" "setting.php" [PT]
RewriteRule "^/?setting/([^/]+)$" "setting.php?id=$1" [PT]
RewriteRule "^/?switch$" "switch.php" [PT]
RewriteRule "^/?switch/([^/]+)$" "switch.php?id=$1" [PT]
RewriteRule "^/?switch/([^/]+)/bootstrap$" "switchBootstrap.php?devicename=$1" [PT]
RewriteRule "^/?input$" "input.php" [PT]
RewriteRule "^/?input/([^/]+)$" "input.php?id=$1" [PT]
RewriteRule "^/?input/([^/]+)/action$" "inputAction.php?inputId=$1" [PT]
RewriteRule "^/?output$" "output.php" [PT]
RewriteRule "^/?output/([^/]+)$" "output.php?id=$1" [PT]
RewriteRule "^/?statistic/([^/]+)$" "statistic.php?statistic=$1" [PT]