.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid #ccc;
    border-right:6px solid #ccc;
    border-bottom:6px solid #ccc;
    border-top:6px solid #61A89D;
    border-radius:100%;
 }

 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }

.dataTable {
    vertical-align: center;
    margin: 0px;
}

.dataTable table {
    border: 1px solid black;
}

.dataTable table, th, td {

    border: 1px dotted #808080;
    text-align: center;
}

.dataTable th{
    background-color: #313131;
    color: white;
    padding: 10px;
}

.dataTable tr:hover{
    background-color: #c2c2c2;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

.dataTable td{
    padding: 4px;
    vertical-align: center;
}

.dataTable button{
    margin: 5px 5px;
}

#pageName {
    height: 120px;
}

#pageName #pageTitle{
    font-size: 35px;
}

#pageName button{
    margin: 0px;
}


body {
    margin: 0px;
}
 
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar .productName{
    background-color: #313131;
    font-size: 14pt;
    color: white;
    padding: 4px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.child a{
    background-color: #fcfcfc;
    color: black;
    font-size: 8pt;
    padding-left: 40px;
    line-height: 0px;
}

.sidebar a.active {
    background-color: #61A89D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

div.loginboxOuter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dotted #808080;
    width: 500px;
    height: 200px;
    background-color: #fcfcfc;
  }

div.loginboxInner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

#loginButton {
    margin: 16px;
}

body.login {
    background-color: #555;
}

input.password {
    text-align: center;
}

.badge-outputBinary{
    background-color: #4469C1;
}

.badge-outputVariable{
    background-color: #F2BA36;
}

#electricalMapView{
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
}

#controlMapView{
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
}

.sub-header {
    font-size: 14pt;
}

.breakerStatisticBox{
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap; 
    overflow: scroll;
}

.breakerStatistic{
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 125px;
    min-width: 125px;
    min-height: 125px;
    padding: 3px;
    margin: 6px;
    overflow: auto;
}

.breakerStatistic .breakerStatisticContent{
    text-align: center;
    font-size: 9pt;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breakerStatistic .breakerName{
    font-size: 14pt;
}

.breakerStatisticContent .progress{
    height: 10px;
    width: 100%;
    line-height: 10px;
}

.breakerStatisticContent .progress-bar{
    font-size: 8pt;
    line-height: 10px;
}

.breakerStatisticContent .progress .ok{
    background-color: #32a852;
}

.breakerStatisticContent .progress .warning{
    background-color: #d18a2c;
}

.breakerStatisticContent .progress .danger{
    background-color: #fa4a3e;
}

.breakerStatisticContent .progress .progressRemaining{
    color:#808080;
    font-size: 8pt;
    line-height: 10px;
}

.controllerStatisticBox{
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap; 
    overflow: scroll;
}

.controllerStatistic{
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 125px;
    min-width: 125px;
    padding: 3px;
    margin: 6px;
    overflow: auto;
}

.controllerStatisticContent{
    text-align: center;
    font-size: 9pt;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controllerStatistic .controllerName{
    font-size: 14pt;
}

.controllerStatisticContent .portPinBox{
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
}

.controllerStatisticContent .portPinHeader{
    font-weight: bold;
    text-align: left;
    font-size: 10pt;
}

.controllerStatisticContent .progress{
    height: 10px;
    width: 100%;
    line-height: 10px;
}

.controllerStatisticContent .progress-bar{
    font-size: 8pt;
    line-height: 10px;
}

.controllerStatisticContent .progress .ok{
    background-color: #32a852;
}

.controllerStatisticContent .progress .warning{
    background-color: #d18a2c;
}

.controllerStatisticContent .progress .danger{
    background-color: #fa4a3e;
}

.controllerStatisticContent .progress .progressRemaining{
    color:#808080;
    font-size: 8pt;
    line-height: 10px;
}



.tree .breakerDetail .highUtilization {
    color: #fa4a3e;
}

.tree .outputDetail .outputDisabled {
    color: #fa4a3e;
}

.tree li .breakerDetail {
    font-size: 8pt;
}

.tree li .outputDetail {
    font-size: 8pt;
}

.tree li .inputDetail {
    font-size: 8pt;
}

.tree li .actionDetail {
    font-size: 8pt;
}

.tree li .controllerDetail {
    font-size: 8pt;
}



.tree ul {
    padding-top: 20px;
    position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.tree li {
    flex: 0 0 auto;
    float: left;
    text-align: center;
	list-style-type: none;
	position: relative;
    padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
    width: 50%; height: 20px;    
}

.tree li::after{
	right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #313131;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
    display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
	background: #555; color: #FFFFFF; border: 1px solid #313131;
}

.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}